# Change name if you feel like it
name = "nosflare"
compatibility_date = "2025-01-04"
main = "worker.js"

# Durable Objects binding
[[durable_objects.bindings]]
name = "RELAY_WEBSOCKET"
class_name = "RelayWebSocket"

# D1 Database binding
# Important! Change name and id settings to your own
[[d1_databases]]
binding = "RELAY_DATABASE"
database_name = "nostr-relay"
database_id = "ba4f97db-cc23-4ea0-b7da-cf8ddc3d84ef"
read_replicas = ["auto"]

# Cron trigger for 24hr database maintenance
[triggers]
crons = ["0 0 * * *"]

# CPU limits (lower to 10 if not on paid Workers plan)
[limits]
cpu_ms = 300000

# Enable logs (off by default, but can enable)
[observability.logs]
enabled = false

# Durable Object migration with SQLite storage backend
[[migrations]]
tag = "v4"
new_sqlite_classes = ["RelayWebSocket"]